aiohttp==3.8.1; python_version >= "3.6" and python_full_version >= "3.8.0"
aiosignal==1.2.0; python_version >= "3.6" and python_full_version >= "3.8.0"
async-timeout==4.0.2; python_version >= "3.6" and python_full_version >= "3.8.0"
attrs==22.1.0; python_version >= "3.6" and python_full_version >= "3.8.0"
charset-normalizer==2.1.1; python_version >= "3.6" and python_full_version >= "3.8.0"
discord.py==2.0.1; python_full_version >= "3.8.0"
eorzeaenv==2.2.4; python_version >= "3.8"
frozenlist==1.3.1; python_version >= "3.7" and python_full_version >= "3.8.0"
idna==3.3; python_version >= "3.7" and python_full_version >= "3.8.0"
jarowinkler==1.2.1; python_version >= "3.8"
multidict==6.0.2; python_version >= "3.7" and python_full_version >= "3.8.0"
numpy==1.23.2; python_version >= "3.8"
pydantic==1.9.2; python_full_version >= "3.6.1"
rapidfuzz==2.6.0; python_version >= "3.8"
typing-extensions==4.3.0; python_version >= "3.7" and python_full_version >= "3.6.1"
yarl==1.8.1; python_version >= "3.7" and python_full_version >= "3.8.0"
